{% extends "base.html" %} 
{% block content %}

{% for submission in submissions %}
  <h1>{{submission.team_name}}</h1>
  {% for member in submission.team_member %}
      <span>{{member.username}},</span>
  {% endfor %}
  <h3>{{submission.school_name}}</h3>

  {% if submission.video is not none %}
    <div>Video:<a href="{{submission.video}}" target="_blank">{{submission.video}}</a></div>
  {% endif %}

  {% if submission.github is not none %}
    <div>Github:<a href="{{submission.github}}" target="_blank">{{submission.github}}</a></div>
  {% endif %}

  <p>{{submission.description|safe}}</p>


{% endfor %}
{% endblock content %}
