{% extends "base.html" %} {% block content %}
<header
  class="text-center text-white masthead"
  style="
    background: url('../static/assets/img/background-0.jpg') no-repeat center
      center;
    background-size: cover;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto logo">
        <img src="../static/assets/img/logo-6.png" />
        <h2 class="mb-5 subtitle">
          April 26th-29th, 2021
        </h2>
        <h4 class="mb-5 subtitle">
          Code, Connect, and Collect Amazing Rewards
        </h4>

      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form action="{{ url_for('main.handle_subscription') }}" method="post">
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input
                class="form-control form-control-lg"
                type="email"
                name="email"
                placeholder="Enter your email..."
              />
            </div>
            <div class="col-12 col-md-3">
              <button class="btn btn-primary btn-block btn-lg" type="submit">
                Join
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<section class="text-center bg-light features-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-people m-auto"></i>
          </div>
          <h3>Free for All</h3>
          <p class="lead mb-0">
            No restrictions on the theme, no restrictions on how you build the
            project
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-trophy m-auto"></i>
          </div>
          <h3>Attractive prizes</h3>
          <p class="lead mb-0">All paticipants will receive swags.</p>
          <div class="mb-0 prize-list">
            <li>Best Overall Prize ($   )</li>
            <li>Best Young Programmer ($   )</li>
            <li>Best Creativity ($   )</li>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-layers m-auto"></i>
          </div>
          <h3>Guest Speakers and Workshops</h3>
          <p class="lead mb-0"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white order-lg-2 showcase-img"
        style="background-image: url('../static/assets/img/bg-showcase-2.jpg')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>What is a Hackathon</h2>
        <p class="lead mb-0">A hackathon is an event, usually hosted by a tech company or organization, where programmers get together for a short period of time to collaborate on a project. The participants work rapidly and often work without sleep to achieve their task, as the events generally only last 24 hours or take place over a weekend.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('../static/assets/img/background-2.jpg')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>Prompts & Potential Topics</h2>
        <p class="mb-0">      
          <ul>
            <li>Build a game that raises awareness of one of the UN Sustainable development goals</li>
            <li>Build an interactive tool that presents data related to sustainability/environment</li>
            <li>Create a programme to visualise some things you have learnt in your classes, such as physics motions or TOK map projections</li>
            <li>Create a web scraping programme that can save time in your workflow (e.g. if you go on your school website to find the school lunch menu everyday, then try writing a programme that can fetch the menu for you)</li>
            <li>Create a Discord bot for you and your friends to optimise your study sessions</li>
          </ul>
        </p>
      </div>
    </div>
        <div class="row no-gutters">
      <div
        class="col-lg-6 text-white order-lg-2 showcase-img"
        style="background-image: url('../static/assets/img/hompage-3.jpg')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>Recommended Tools</h2>
        <p class="mb-0">   
          Beginner, new to programing:
          <ul>

            <li>Scratch</li>
            <li>Prototype with Adobe illustrator/video editor</li>
            <li>Greenfoot</li>
            <li>Cryptography algorithms - Caesar cipher</li>
            
          </ul>
          Intermediate:    
          <ul>
            <li>HTML, CSS, Javascript</li>
            <li>Unity, Game Engines</li>
            <li>Web scraping/Selenium web driver</li>
            <li>Discord bot</li>
          </ul>
          Advanced   
          <ul>
            <li>Full-stack web development</li>
            <li>Mobile app with Java, Swift, React Native.etc.</li>
            <li>Arduino/Raspberry Pi</li>
            <li>Machine learning</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="text-center bg-light testimonials">
  <div class="container">
    <h2 class="mb-5">Hackthon Hosts</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
          <img
            class="rounded-circle img-fluid mb-3"
            src="../static/assets/img/profile.jpg"
          />
          <h5>Soya Shinkura</h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
          <img
            class="rounded-circle img-fluid mb-3"
            src="../static/assets/img/profile.jpg"
          />
          <h5>Steven Oh</h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="text-center text-white call-to-action"
  style="
    background: url('../static/assets/img/background-3.jpg') no-repeat center
      center;
    background-size: cover;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input
                class="form-control form-control-lg"
                type="email"
                placeholder="Enter your email..."
              />
            </div>
            <div class="col-12 col-md-3">
              <button class="btn btn-primary btn-block btn-lg" type="submit">
                Sign up!
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="bg-light footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left my-auto h-100">
        <p class="text-muted small mb-4 mb-lg-0">
          © JHack 2021. All Rights Reserved.
        </p>
      </div>
      <div class="col-lg-6 text-center text-lg-right my-auto h-100">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock content %}
