{% extends "base.html" %} {% block content %}
<header
  class="text-center text-white masthead"
  style="
    background: url('https://jhack-hackathon.s3-ap-northeast-1.amazonaws.com/static/assets/images/background-0.jpg') no-repeat center
      center;
    background-size: cover;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto logo">
        <img src="../static/assets/img/logo-7.png" />
        <h2 class="mb-5 subtitle">
          April 26th-29th, 2021
        </h2>
        <h4 class="mb-5 subtitle">
          Code, Connect, and Collect Amazing Rewards
        </h4>

      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form action="{{ url_for('main.handle_subscription') }}" method="post">
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input
                class="form-control form-control-lg"
                type="email"
                name="email"
                placeholder="Enter your email..."
              />
            </div>
            <div class="col-12 col-md-3">
              <button class="btn btn-primary btn-block btn-lg" type="submit">
                Join
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<section class="text-center bg-light features-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-people m-auto"></i>
          </div>
          <h3>International participants</h3>
          <p class="lead mb-0">
            The Hackathon welcomes all seconday students (grade 6 to 12) in the Asian Pacific region.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-trophy m-auto"></i>
          </div>
          <h3>Attractive prizes</h3>
          <p class="lead mb-0">All paticipants will receive swags.</p>
          <div class="mb-0 lead prize-list">
            In addition, there will be:
            <li>Best Overall Prize ($   )</li>
            <li>Best Young Programmer ($   )</li>
            <li>Best Creativity ($   )</li>
            <li>Best sustainability/enviornment project ($   )</li>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-layers m-auto"></i>
          </div>
          <h3>Guest Speakers and Workshops</h3>
          <p class="lead mb-0">We will invite industry-leading experts in their fields to conduct workshops.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white order-lg-2 showcase-img"
        style="background-image: url('../static/assets/img/bg-showcase-2.jpg')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>What is a Hackathon</h2>
        <p class="lead mb-0">Hackathon is a sprint-like event for a group of programmers to work together on a collaborative project. Most hackathons are competitions where several teams are competing to create prototypes that innovate on a theme or improve upon an existing project.</p>
        <br>
        <h2>More about JHack</h2>
        <p class="lead mb-0">Since this event will be organized online, you are welcomed to work and submit your project anytime within the time frame. Guest speakers and workshops will be accessible through this website. You can also seek help and assistancce through our discord channel. We are currently working on a "user portal" on this site where you will be able to have quick access to the event schedule and submit your project. Tune in for updates!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('https://images.unsplash.com/photo-1537151377170-9c19a791bbea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>Prompts & Potential Topics</h2>
        <p>      
          <ul class="mb-0 lead">
            <li>Build a game that raises awareness of one of the UN Sustainable development goals</li>
            <li>Build an interactive tool that presents data related to sustainability/environment</li>
            <li>Create a programme to visualise some things you have learnt in your classes, such as physics motions or TOK map projections</li>
            <li>Create a web scraping programme that can save time in your workflow (e.g. if you go on your school website to find the school lunch menu everyday, then try writing a programme that can fetch the menu for you)</li>
            <li>Create a Discord bot for you and your friends to optimise your study sessions</li>
          </ul>
        </p>
      </div>
    </div>
        <div class="row no-gutters">
      <div
        class="col-lg-6 text-white order-lg-2 showcase-img"
        style="background-image: url('https://images.unsplash.com/photo-1517077304055-6e89abbf09b0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>Recommended Tools</h2>
        <p class="mb-0">   
          Beginner, new to programing:
          <ul class="mb-0 lead">
            <li>Scratch</li>
            <li>Prototype with Adobe illustrator/animation</li>
            <li>Greenfoot</li>
            <li>Cryptography algorithms - Caesar cipher</li>
          </ul>
          Intermediate:    
          <ul class="mb-0 lead">
            <li>HTML, CSS, Javascript</li>
            <li>Unity, Game Engines</li>
            <li>Web scraping/Selenium web driver</li>
            <li>Discord bot</li>
          </ul>
          Advanced   
          <ul class="mb-0 lead">
            <li>Full-stack web development</li>
            <li>Mobile app with Java, Swift, React Native.etc.</li>
            <li>Arduino/Raspberry Pi</li>
            <li>Machine learning</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="text-center bg-light testimonials">
  <div class="container">
    <h2 class="mb-5">Hackathon Hosts</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
          <img
            class="rounded-circle img-fluid mb-3"
            src="https://jhack-hackathon.s3-ap-northeast-1.amazonaws.com/static/assets/images/t.jpg"
          />
          <h5>Soya Shinkura</h5>
          <p class="font-weight-light mb-0">Nagoya International School Junior</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
          <img
            class="rounded-circle img-fluid mb-3"
            src="https://jhack-hackathon.s3-ap-northeast-1.amazonaws.com/static/assets/images/IMG_6062.jpg"
          />
          <h5>Steven Oh</h5>
          <p class="font-weight-light mb-0">Nagoya International School Junior</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="text-center text-white call-to-action"
  style="
    background: url('https://jhack-hackathon.s3-ap-northeast-1.amazonaws.com/static/assets/images/background-3.jpg') no-repeat center
      center;
    background-size: cover;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input
                class="form-control form-control-lg"
                type="email"
                placeholder="Enter your email..."
              />
            </div>
            <div class="col-12 col-md-3">
              <button class="btn btn-primary btn-block btn-lg" type="submit">
                Sign up!
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="bg-light footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left my-auto h-100">
        <p class="text-muted small mb-4 mb-lg-0">
          © JHack 2021. All Rights Reserved.
        </p>
      </div>
      <div class="col-lg-6 text-center text-lg-right my-auto h-100">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock content %}
