{% extends "base.html" %}
{% block content %}
<header class="text-center text-white masthead" style="background-color: black; height: 50vh" >
  <div class="overlay" id="portal_header" style="pointer-events:none;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="title">{{user.username}}'s Portal</h1>
        <br>
      </div>
    </div>
    <!-- <p class="portal_text">Lorenz Attractor - a model of butterfly effect</p> -->
  </div>
</header>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" id="flash" role="alert">
      <span>{{ message }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 showcase-img" style="padding: 50px">
        <section>
          <form action="" method="post">
              {% for team_submission in team_submissions %}
              <div class="row no-gutters" style="border: 2px solid black; padding: 10px; margin-bottom:20px;">
                <div class="col-lg-6 d-flex justify-content-center pr-1" style="margin:auto;">
                  {{team_submission.team_name}}
                  <br>
                  Code - {{team_submission.code}}
                </div>
                <div class="col-lg-6 d-flex justify-content-center pr-1" style="padding: 10px; magin: auto;">
                  {% if team_submission.draft %}
                    <button class="btn btn-danger btn-sm" style="font-size: 20px; padding: 10px; magin: auto;">
                        <a href="{{url_for('users.submission', team_code=team_submission.code)}}" class="submission-button">Submit Project</a>
                    </button>
                  {% else %}
                    <p>Submitted</p>
                  {% endif %}
                </div> 
              </div>
              <hr class="break-line">
              {% endfor %}
          </form>
        </section>
        <section>
          <h2 style="text-align: center;">Team</h2>
          <form action="{{ url_for('users.handle_code') }}" method="post" style="">
            <div style="padding: 30px">
                <input
                  class="form-control form-control-lg"
                  type="number"
                  name="code_input"
                  placeholder="Enter your team code"
                  style="width: 50%;  width: 50%; display: block; margin: 0 auto 20px;"
                />
                <input class="btn btn-primary btn-block btn-lg" style="width: 50%; display: block; margin: 0 auto 10px; " name="submit_button" value="Join" type="submit"/>
                <div style="text-align: center; margin-bottom: 10px;  width: 100%; text-align: center; border-bottom: 1px solid #000; line-height: 0.1em; margin: 20px 0 20px;">
                  <span style="background:#fff;padding:0 10px;">OR</span>
                </div>
                <input name="submit_button" value="Create" class="btn btn-primary btn-block btn-lg" style="width: 50%; display: block; margin: 0 auto;" type="submit"/>
            </div>
          </form>
        </section>
        
        <hr class="break-line">

        <section>
          <h2 style="text-align: center;">Announcements</h2>
          <!-- Loop Announcement -->
          {% for post in posts.items %}
            <div style="border: 3px solid black; border-style: none none none solid; padding: 10px; margin-top: 10px; margin-bottom: 20px; background-color: #e8fcfc">
              <h3>{{post.title}}</h3>
              <p style="font-weight: bold;">{{ post.date_posted.strftime("%B %d, %Y %H:%M") }}<p>
              {{post.content|safe}}
            </div>
          {% endfor %}

          <!-- pagination buttons -->
          <div style="text-align: center;">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
              {% if page_num %}
                {% if posts.page == page_num %}
                  <a class="btn btn-primary mb-4" href="{{url_for('users.portal', username=user.username, page=page_num)}}">{{page_num}}</a>
                {% else %}
                  <a class="btn btn-outline-primary mb-4" href="{{url_for('users.portal', username=user.username, page=page_num)}}">{{page_num}}</a>
                {% endif %}
              {% else %}
                ...
              {% endif %}
            {% endfor %}
          </div>
        </section>

        <hr class="break-line">

        <section>
          <h2 style="text-align: center;">Resources</h2>
          <div class="speaker-container">
            Coding
            <ul>
              <li><a target="_blank" href="https://www.geeksforgeeks.org">Geek for Geek</a></li>
              <li><a target="_blank" href="https://education.github.com/pack">Github Student Development Pack</a></li>
              <li><a target="_blank" href="https://stackoverflow.com">Stack Overflow</a></li>
              <li><a target="_blank" href="https://www.youtube.com/user/schafer5">Corey Schafer's YouTube Channel (for Python)</a></li>
              <li><a target="_blank" href="https://www.youtube.com/user/shiffman">The Coding Train (Nature of Code) YouTube Channel (for JS)</a></li>
            </ul>
          </div>
        </section>
      </div>
      
      <div class="col-lg-6 order-lg-1 showcase-img" style="padding: 50px">
        <section>
          <div class="guide-container">
            <h2 style="text-align: center;">Submission Guide</h2>
            <p>Follow the guide below:</p>
            <iframe class="doc-embed" src="https://docs.google.com/document/d/e/2PACX-1vRYfMd0DSRPgJuIP19-HFPGgnfLUhaxClyg2syN-x9J2Ccm7svOHvPDr5Q8Ww2ghw6PhVG1apeMDcV7/pub?embedded=true"></iframe>
          </div>
        </section>

        <hr class="break-line">

        <section>
          <h2 style="text-align: center;">Workshops</h2>
          {% for workshop in workshops %}
            <div class="speaker-container">
              <div class="speaker-title">{{workshop.title}}</div>
              {{workshop.content|safe}}
            </div>
            <hr class="break-line">
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
