{% extends "base.html" %}
{% block content %}
<header class="text-center text-white masthead" style="background-color: black; height: 50vh" >
  <div class="overlay" id="portal_header" style="pointer-events:none;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="title">{{user.username}}'s Portal</h1>
        <br>
      </div>
    </div>
    <!-- <p class="portal_text">Lorenz Attractor - a model of butterfly effect</p> -->
  </div>
</header>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" id="flash" role="alert">
      <span>{{ message }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 showcase-img" style="padding: 50px">
        <section>
          <form action="" method="post">
              {% for team_submission in team_submissions %}
              <div class="row no-gutters" style="border: 2px solid black; padding: 10px; margin-bottom:20px;">
                <div class="col-lg-6 d-flex justify-content-center pr-1" style="margin:auto;">
                  {{team_submission.team_name}}
                  <br>
                  Code - {{team_submission.code}}
                </div>
                <div class="col-lg-6 d-flex justify-content-center pr-1" style="padding: 10px; magin: auto;">
                  {% if team_submission.draft %}
                    <button class="btn btn-danger btn-sm" style="font-size: 20px; padding: 10px; magin: auto;">
                        <a href="{{url_for('users.submission', team_code=team_submission.code)}}" class="submission-button">Submit Project</a>
                    </button>
                  {% else %}
                    <p>Submitted</p>
                  {% endif %}
                </div> 
              </div>
              <hr class="break-line">
              {% endfor %}
          </form>
        </section>
        <section>
          <h2 style="text-align: center;">Team</h2>
          <form action="{{ url_for('users.handle_code') }}" method="post" style="">
            <div style="padding: 30px">
                <input
                  class="form-control form-control-lg"
                  type="number"
                  name="code_input"
                  placeholder="Enter your team code"
                  style="width: 50%;  width: 50%; display: block; margin: 0 auto 20px;"
                />
                <input class="btn btn-primary btn-block btn-lg" style="width: 50%; display: block; margin: 0 auto 10px; " name="submit_button" value="Join" type="submit"/>
                <div style="text-align: center; margin-bottom: 10px;  width: 100%; text-align: center; border-bottom: 1px solid #000; line-height: 0.1em; margin: 20px 0 20px;">
                  <span style="background:#fff;padding:0 10px;">OR</span>
                </div>
                <input name="submit_button" value="Create" class="btn btn-primary btn-block btn-lg" style="width: 50%; display: block; margin: 0 auto;" type="submit"/>
            </div>
          </form>
        </section>
        
        <hr class="break-line">

        <section>
          <h2 style="text-align: center;">Announcements</h2>
        <!-- Loop Announcement -->
          {% for post in posts.items %}
            <div style="border: 3px solid black; border-style: none none none solid; padding: 10px; margin-top: 10px; margin-bottom: 20px; background-color: #e8fcfc">
              <h3>{{post.title}}</h3>
              <p style="font-weight: bold;">{{ post.date_posted.strftime("%B %d, %Y %H:%M") }}<p>
              {{post.content|safe}}
            </div>
          {% endfor %}
        </section>

        <hr class="break-line">

        <section>
          <h2 style="text-align: center;">Resources</h2>
          <div class="speaker-container">
            Coding
            <ul>
              <li><a href="https://www.geeksforgeeks.org">Geek for Geek</a></li>
              <li><a href="https://education.github.com/pack">Github Student Development Pack</a></li>
              <li><a href="https://stackoverflow.com">Stackoverflow</a></li>
            </ul>
          </div>
        </section>
      </div>
      
      <div class="col-lg-6 order-lg-1 showcase-img" style="padding: 50px">
        <section>
          <div class="guide-container">
            <h2 style="text-align: center;">Submission Guide</h2>
            <p>Follow the guide below:</p>
            <iframe class="doc-embed" src="https://docs.google.com/document/d/e/2PACX-1vRYfMd0DSRPgJuIP19-HFPGgnfLUhaxClyg2syN-x9J2Ccm7svOHvPDr5Q8Ww2ghw6PhVG1apeMDcV7/pub?embedded=true"></iframe>
          </div>
        </section>

        <hr class="break-line">

        <section>
          <h2 style="text-align: center;">Workshops</h2>
          
          <div class="speaker-container">
            <div class="speaker-title">Mr. Steve Sabat</div>
            <div>Email: ssabat@me.com</div>
            <p>I've been working with computer science in a professional capacity since the early 2000's. I started out as a Sysadmin and network manager at a small aircraft manufacturing plant in a little town in Wyoming, USA. I began working in schools in 2006 as a support technician and database manager. I enjoy working in schools because the IT environment is always changing and is open to innovation. I'm currently the ICT Manager at the Anglo-American School of Sofia, in Bulgaria. Fun fact about me: I used to be a ski instructor at Park City, Utah. Having worked in international schools in Europe for the past 9 years, I've been involved with data privacy, security and GDPR (General Data Protection Regulation) compliance. Many other countries outside of Europe (including Japan) are adopting data privacy laws based upon the GDPR principles.</p>
            <div><a href="#">Meet Link</a></div>
            <div>Time: April 26 <span class="underline">2:00pm - 3:00pm</span> (JST)</div>
          </div>
          <hr class="break-line">
          <div class="speaker-container">
            <div class="speaker-title">Mr. Roddy McNeil</div>
            <div>Email: rd_mcn@hotmail.com</div>
            <p>I have been coding for over 30 years across a lot of industries, have taught video game development, and am currently working with a small business that has a platform for anaesthetists and surgeons.  Fun fact: I made a VR game for PAX Australia, including a full-sized controller (or that I once played Sheep in Space for 24 hours when I was a teenager).</p>
            <div><a href="#">Meet Link</a></div>
            <div>Time: April 27 <span class="underline">10:30am - 11:30am</span>(JST)</div>
          </div>
          <hr class="break-line">
          <div class="speaker-container">
            <div class="speaker-title">Mr. Obonguta Felix</div>
            <div>Email: obongutafelix@gmail.com</div>
            <p>Felix is currently a doctoral student at Kyoto University majoring in civil engineering. His research interests include infrastructure asset management, transportation, urban planning and the application of data science and artificial intelligence to infrastructure monitoring. </p>
            <div><a href="#">Meet Link</a></div>
            <div>Time: April 28th <span class="underline">2:00pm - 3:00pm</span> (JST)</div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
