{% extends "base.html" %}
{% block content %}
<header
  class="text-center text-white masthead" style="background-color: black; height: 50vh"
>
<!--   style="
    background: url('https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80') no-repeat center
      center;
    background-size: cover;
    height: 50vh;
  " -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="title">{{user.username}}'s Portal</h1>
        <br>
        <button class="btn btn-primary btn-sm" style="font-size: 20px; padding: 10px;">
          <a href="{{url_for('users.submission', username=user.username)}}" class="submission-button">Submit Your Project</a>
        </button>
      </div>
    </div>
  </div>
</header>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 showcase-img" style="padding: 50px">
        <h2 style="text-align: center;">Announcements</h2>
        
        <!-- Loop Announcement -->
        {% for post in posts.items %}
          <div style="border: 3px solid black; border-style: none none none solid; padding: 10px; margin-top: 10px; background-color: #e8fcfc">
            <h3>{{post.title}}</h3>
            <p style="font-weight: bold;">{{ post.date_posted.strftime("%B %d, %Y %H:%M") }}<p>
            {{post.content|safe}}
          </div>
        {% endfor %}
        <!-- ################# -->
      </div>
      
      <div class="col-lg-6 order-lg-1 showcase-img" style="padding: 50px">
        <div class="guide-container">
          <h2 style="text-align: center;">Submission Guide</h2>
          <p>Follow the guide below:</p>
          <iframe class="doc-embed" src="https://docs.google.com/document/d/e/2PACX-1vRYfMd0DSRPgJuIP19-HFPGgnfLUhaxClyg2syN-x9J2Ccm7svOHvPDr5Q8Ww2ghw6PhVG1apeMDcV7/pub?embedded=true"></iframe>
        </div>
        

        <h2 style="text-align: center;">Workshops</h2>
        <div class="speaker-container">
          <div class="speaker-title">Mr. Obonguta Felix</div>
          <div>Email: obongutafelix@gmail.com</div>
          <p>Felix is currently a doctoral student at Kyoto University majoring in civil engineering. His research interests include infrastructure asset management, transportation, urban planning and the application of data science and artificial intelligence to infrastructure monitoring. </p>
          
          <div><a href="#">Meet Link</a></div>
          <div>Time: April 28th <span class="underline">2:00pm - 3:00pm</span> (JST)</div>
        </div>

        <hr class="break-line">

        <div class="speaker-container">
          <div class="speaker-title">Mr. Roddy McNeil</div>
          <div>Email: rd_mcn@hotmail.com</div>
          <p></p>
          
          <div><a href="#">Meet Link</a></div>
          <div>Time: TBD</div>
        </div>

        <hr class="break-line">

        <div class="speaker-container">
          <div class="speaker-title">Mr. Steve Sabat</div>
          <div>Email: ssabat@me.com</div>
          <p></p>
          
          <div><a href="#">Meet Link</a></div>
          <div>Time: TBD</div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock content %}
