{% extends "base.html" %} {% block content %}
<header
  class="text-center text-white masthead"
  style="
    background: url('https://images.unsplash.com/photo-1612831661881-dd08451593ae?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80') no-repeat center
      center;
    background-size: cover;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="title">
          Support our Hackathon
        </h1>
        <br>
        <h4 class="mb-5 subtitle" style="font-weight: lighter;">
          Contact: eolsonkikuchi@nagoyais.net
        </h4>
      </div>
    </div>
    </div>
  </div>
</header>
<section class="text-center bg-light features-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <h3>The Interaction</h3>
          <p class="lead mb-0">
            Supporting our Hackathon also means that you will be able to interact with prominent students in the field of STEM across the Asian Pacific Region. This allows you to build invaluable connections with the next generation.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">

          <h3>Brand Exposure</h3>
          <p class="lead mb-0">we will attach your logo and business information in our website and host workshops on our individual sponsors. Your brand will gain international recgnition amoung our diverse participants.</p>
          <div class="mb-0 lead prize-list">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <h3>Encourage Innovation</h3>
          <p class="lead mb-0">
            
          </p>
        </div>
      </div>
  </div>
</section>
<section class="showcase">
  <div class="container-fluid p-0">
    <!-- <div class="row no-gutters">

      <div class="col-lg-12 my-auto showcase-text">
        <h3> Leaders in the STEM Industry</h3>
        <p class="lead mb-0">Sponsors to hackathons get recognition as significant contributors to the STEM Industry. Hackathons work on building innovation, entrepreneurship, and technical skills in their participants, giving them the tools they need to propel the industry forward. This involvement provides the opportunity to participate in the process of developing an innovative and entrepreneurial generation of students!</p>
        <br>
        <br>
        <h3>Interacting with world-class students</h3>
        <p class="lead mb-0">As both nation-wide and worldwide events, hackathons typically have the advantage of local, national, and global brand recognition. This gives sponsors an opportunity to capitalize on the buzz and ride the wave. But it’s not just about the event; sponsoring a hackathon makes you partners. This allows hackathons to go a step further and advertise the who sponsored them, further spreading the brand. </p>
        <br>
      </div>
    </div> -->
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white order-lg-2 showcase-img"
        style="background-image: url('https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>How can you support us</h2>
        <p>      
          <ul class="mb-0 lead">
            <li>Help us prepare prizes for our top participants</li>
            <li>Inspire participants with a guest speaker</li>
            <li>Make a donation</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
