{% extends "base.html" %} {% block content %}
<header
  class="text-center text-white masthead"
  style="
    background: url('https://images.unsplash.com/photo-1612831661881-dd08451593ae?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80') no-repeat center
      center;
    background-size: cover;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="title">
          Support our Hackathon
        </h1>
      </div>
    </div>
    </div>
  </div>
</header>
<section class="text-center bg-light features-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-people m-auto"></i>
          </div>
          <h3>beneefit 1</h3>
          <p class="lead mb-0">
            The Hackathon welcomes all seconday students (grade 6 to 12) in the Asian Pacific region.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-trophy m-auto"></i>
          </div>
          <h3>Display your logo</h3>
          <p class="lead mb-0"></p>
          <div class="mb-0 lead prize-list">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon">
            <i class="bi bi-layers m-auto"></i>
          </div>
          <h3>benegit 3</h3>
          <p class="lead mb-0">bluh</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white order-lg-2 showcase-img"
        style="background-image: url('../static/assets/img/bg-showcase-2.jpg')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>Why should you sponsor us?</h2>
        <p class="lead mb-0">Participants of this Hackathon are international school students from countries across the Asian Pacific region. Your Sponsorship is going to help us build a better Hackathon experience for the participants and promote innovation in the field of computer science and engineering. Moreover, we will display your logo and promote information about your business to the prominents youth pioneers in science. Details can be further discussed.</p>
        <br>
        <h2>How can you support us</h2>
        <p class="lead mb-0">Sponsorship does not just mean financial support. You can support us through providing us with a guest speaker in the field of computer science or engineering. You can also support us by providing us with the prize of the Hackathon. You can use this opportunity to reach our participants with your business and products. </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('https://images.unsplash.com/photo-1537151377170-9c19a791bbea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')"
      >
        <span></span>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <h2>Contact</h2>
        <p>      
          If you are interested in supporting us, contact : @gmail.com
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
