{% extends "base.html" %} {% block content %}
<style>
  .main {
    background: url("https://jhack-hackathon.s3-ap-northeast-1.amazonaws.com/static/assets/images/background-0.jpg")
      no-repeat center center;
    background-size: cover;
    padding-top: 20px;
  }
  h1 {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 2;
  }
  h2 {
    font-weight: 400;
  }
  .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    padding-bottom: 80px;
  }
  form {
    width: 60%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 0 #095484;
  }
  .banner {
    position: relative;
    height: 210px;
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  input,
  select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input {
    width: calc(100% - 10px);
    padding: 5px;
  }
  select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
  }
  .item {
    position: relative;
    margin: 10px 0;
  }
  .item i {
    right: 2%;
    top: 30px;
    z-index: 1;
  }
  .questiont-text {
    font-weight: bold;
    font-size: 20px;
  }
  .form-field {
    display: flex;
    margin: 0px;
      padding: 5px 0 0;
  }
  .form-group {
    width: 100%;
    padding-right: 10px;
  }
  .form-group label {
    width: 120px;
    display: inline-block;
  }
</style>

<body class="main">
  <div class="testbox">
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <h2>Team Information</h2>

      <div class="item">
        {{form.team_name.label}}}
        <div class="item">
        {% if form.team_name.errors %}
          {{form.team_name }}
            <div>
              {% for error in form.team_name.errors %}
              <span> {{error}} </span>
              {% endfor %}
            </div>
        {% else %}
          {{ form.team_name }}
        {% endif %}
        </div>
      </div>
      <div class="item">
        {{form.school_name.label}}}
        {% if form.school_name.errors %}
          {{form.school_name }}
            <div>
              {% for error in form.school_name.errors %}
              <span> {{error}} </span>
              {% endfor %}
            </div>
        {% else %}
          {{ form.school_name }}
        {% endif %}
      </div>

      <div class="item">
        {{form.github.label}}}
        {% if form.github.errors %}
          {{form.github }}
            <div class="invalid-feedback">
              {% for error in form.github.errors %}
              <span> {{error}} </span>
              {% endfor %}
            </div>
        {% else %}
          {{ form.github }}
        {% endif %}
      </div>

      <div class="item">
        {{form.video.label}}
        {% if form.video.errors %}
          {{form.video }}
            <div>
              {% for error in form.video.errors %}
              <span> {{error}} </span>
              {% endfor %}
            </div>
        {% else %}
          {{form.video }}
        {% endif %}
      </div>

      <div class="item">
        {{form.draft.label}}
        {{form.draft}}
      </div>      

      <h3>Project</h3>
      <p>
        You can attach images and utilize the space below to show off your
        project! We have prepared four prompts but you can freely write about
        your project.
      </p>

      <div class="item">
        {% if form.description.errors %}
          {{form.description(id="editor2") }}
            <div class="invalid-feedback">
              {% for error in form.description.errors %}
              <span> {{error}} </span>
              {% endfor %}
            </div>
        {% else %}
          {{form.description(id="editor2") }}
        {% endif %}
      </div>

      <div class="btn-block">
        {{ form.submit }}
      </div>
    </form>
  </div>
</body>
{% endblock content %}
