/* a[href="https://froala.com/wysiwyg-editor"], a[href="https://www.froala.com/wysiwyg-editor?k=u"]
{
  display: none !important;
  position: absolute;
  top: -99999999px;
} */
/* homepage */
.theme-bullet{
  list-style-type: none;
}
.theme-subtitle{
  font-size: 25px;
}
.white-text{
  color: white !important;
  font-weight: 800;
  font-size: 13px;
}
.sponsor-title{
  margin: 20px;
}
.sponsor-container{
  display:block; 
  margin:auto;
}
.sponsor-image{
  width: 60vw;
}
/* Portal */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
#customers tr:nth-child(even){
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
}
.submission-button{
  color: white;
  
}
.submission-button:hover{
  color: white;
  text-decoration: none;
}
.speaker-title{
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 10px;
}
.speaker-container{
  margin: 20px
}
.underline{
  text-decoration: underline;
}
.break-line{
  border-width: 3px;
  padding: 10px;
}
.guide-container{
  margin: 20px;
}
.doc-embed{
  width: 100%;
  height: 50vh;
}
.portal_text{
  right: 0;
  text-align: right; 
  position: absolute;
  bottom: 0; 
  margin: 20px;
  color: rgba(231, 231, 231, 0.8);

}

.text-break{
  text-align: center; margin-bottom: 10px;  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 20px 0 20px;
}

#text-span{
  background:#fff; 
  padding:0 10px; 
}
#text-heading{
  width: 50%; 
  display: block; 
  margin: 0 auto;
}

.button-block{
  padding-bottom: 20px;
}
/* Submission */
.add-bt{
  color: #0275d8;
}
@media (max-width: 1000px) {
  .testbox form{
    width: 100%;
  }
}

.testbox form{
  margin-top: 30px;
  padding:30px;
}

.submission:hover{
  background-color: #0275d8;
  color: white !important;
  text-decoration: none !important;

}

.submission{
  color: black;
  font-size: 15px;
}