/* homepage */
.title{
    margin: 1px;
}

.header-tag{
    background: url('../static/assets/img/ba.jpg') no-repeat center center;
    background-size: cover;
}

.subtitle{
    font-size: 30px;
    margin: 10px;
    font-weight: 900;
}

.prize-list{
    text-align: center;
    list-style: none
}
.prompts{
    margin: 50px;
    padding: 100px;
}

/* anouncement */
.anouncement{
    border: 1px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

/* Form pages */

.form-content{
    padding: 100px;
    margin: 200px;
    overflow: hidden;
    width: 100%;

}
.form-set{
    padding: 100px;
    margin: 100px;
}
/* Sponsor Page */
.title{
    font-size: 100px;
}


@media (max-width: 640px) {
    nav .navbar {
        background: #000 !important; 

    }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
