/* homepage */
.title{
    margin: 1px;
}

.header-tag{
    background: url('../static/assets/img/ba.jpg') no-repeat center center;
    background-size: cover;
}

.subtitle{
    font-size: 30px;
    margin: 10px;
    font-weight: 900;
}

.prize-list{
    text-align: center;
    list-style: none
}
.prompts{
    margin: 50px;
    padding: 100px;
}

/* anouncement */
.anouncement{
    border: 1px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

/* Form pages */

.form-content{
    padding: 100px;
    margin: 200px;
    overflow: hidden;
    width: 100%;

}
.form-set{
    padding: 100px;
    margin: 100px;
}
/* Sponsor Page */
.title{
    font-size: 100px;
}


  .nav {
    margin: 0 auto;
    padding: 0;
    width: 75%;
}

.navbar-fixed-top.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}